In [1]:
pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.0.tar.gz (316.9 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 316.9/316.9 MB 2.3 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.0-py2.py3-none-any.whl size=317425344 sha256=af1d2579e846a1c38976fd54594f8eba169458b94c2596b163795a695699d641
  Stored in directory: /root/.cache/pip/wheels/41/4e/10/c2cf2467f71c678cfc8a6b9ac9241e5e44a01940da8fbb17fc
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.0

In [2]:
from pyspark import SparkContext


sc = SparkContext("local", "RDDExample")
word = sc.parallelize([('Apache', 5), ('Apache', 4), ('Spark', 3), ('Hadoop', 2)])
words_group = word.groupByKey()
print(word.collect())
print([(j[0], [i for i in j[1]]) for j in words_group.collect()])

[('Apache', 5), ('Apache', 4), ('Spark', 3), ('Hadoop', 2)]
[('Apache', [5, 4]), ('Spark', [3]), ('Hadoop', [2])]

In [3]:
sc.stop()

In [4]:
pip install pyspark
from pyspark import SparkContext


sc = SparkContext("local", "RDDExample")
word = sc.parallelize([('Apache', 5), ('Apache', 4), ('Spark', 3), ('Hadoop', 2)], 3)
words_reduce = word.reduceByKey(lambda accum, n: accum + n)
words_reduce.collect()

[('Apache', 9), ('Spark', 3), ('Hadoop', 2)]

In [6]:
pip install pyspark
from pyspark import SparkContext


sc = SparkContext("local", "RDDExample")
word = sc.parallelize([('Apache', 5), ('Hadoop', 4), ('Hadoop', 3), ('Flume', 2)])
words_sort = word.sortByKey()
words_sort.collect()

[('Apache', 5), ('Flume', 2), ('Hadoop', 4), ('Hadoop', 3)]

In [7]:
sc.stop()

In [8]:
pip install pyspark
from pyspark import SparkContext, SparkConf


conf = SparkConf().setAppName("WordCountApp")
sc = SparkContext(conf=conf)


text_file = sc.textFile("/content/sample_text.txt")


words = text_file.flatMap(lambda line: line.split(" "))


filtered_words = words.filter(lambda word: word.isalpha() and len(word) > 2)


word_count_pairs = filtered_words.map(lambda word: (word.lower(), 1))


word_counts = word_count_pairs.reduceByKey(lambda a, b: a + b)


sorted_word_counts = word_counts.sortBy(lambda x: x[1], ascending=False)

top_10_words = sorted_word_counts.take(10)


for word, count in top_10_words:
    print(f"{word}: {count}")


sc.stop()

everyone: 3
the: 2
this: 1
demo: 1
check: 1
count: 1
just: 1
program: 1
word: 1
sample: 1

In [9]:
sc.stop()

In [10]:
from pyspark import SparkContext, SparkConf

conf = SparkConf().setAppName("EvenNumberCount")
sc = SparkContext(conf=conf)


rdd = sc.parallelize(range(1, 11))


even_numbers = rdd.filter(lambda x: x % 2 == 0)

even_count = even_numbers.count()


print(f"Number of even numbers: {even_count}")


sc.stop()

Number of even numbers: 5

In [ ]:
from pyspark import SparkContext


sc = SparkContext("local", "RDDSumExample")
data = [1, 2, 3, 4, 5]
rdd = sc.parallelize(data)
def add(x, y):
    return x + y
total_sum = rdd.reduce(add)
print("Sum of all elements:", total_sum)
sc.stop()

In [ ]:
sc.stop()

In [11]:
from pyspark.sql import SparkSession


spark = SparkSession.builder.appName("DataFrameFilter").getOrCreate()


data = [
    {"name": "Jacob", "age": 25},
    {"name": "kenny", "age": 30},
    {"name": "Felix", "age": 22},
    {"name": "david", "age": 35},
    {"name": "Eve", "age": 28},
]


df = spark.createDataFrame(data)

selected_df = df.select("name", "age")


threshold_age = 25


filtered_df = selected_df.filter(selected_df["age"] > threshold_age)


count = filtered_df.count()


print(f"Number of rows where age > {threshold_age}: {count}")


spark.stop()

Number of rows where age > 25: 3

In [12]:
spark.stop()

In [13]:
from pyspark.sql import SparkSession


spark = SparkSession.builder.appName("SalesAnalysis").getOrCreate()


sales_df = spark.read.csv("sales_data_sample.csv", header=True, inferSchema=True)


sales_df.show(10)


sales_by_category = sales_df.groupBy("PRODUCTLINE") \
    .agg({"Sales": "sum"}) \
    .withColumnRenamed("sum(Sales)", "TotalSalesAmount")


sales_by_category.show()


spark.stop()

+-----------+---------------+---------+---------------+-------+---------------+-------+------+--------+-------+-----------+----+-----------+--------------------+----------------+--------------------+------------+-------------+-----+----------+-------+---------+---------------+----------------+--------+
|ORDERNUMBER|QUANTITYORDERED|PRICEEACH|ORDERLINENUMBER|  SALES|      ORDERDATE| STATUS|QTR_ID|MONTH_ID|YEAR_ID|PRODUCTLINE|MSRP|PRODUCTCODE|        CUSTOMERNAME|           PHONE|        ADDRESSLINE1|ADDRESSLINE2|         CITY|STATE|POSTALCODE|COUNTRY|TERRITORY|CONTACTLASTNAME|CONTACTFIRSTNAME|DEALSIZE|
+-----------+---------------+---------+---------------+-------+---------------+-------+------+--------+-------+-----------+----+-----------+--------------------+----------------+--------------------+------------+-------------+-----+----------+-------+---------+---------------+----------------+--------+
|      10107|             30|     95.7|              2| 2871.0| 2/24/2003 0:00|Shipped|     1|       2|   2003|Motorcycles|  95|   S10_1678|   Land of Toys Inc.|      2125557818|897 Long Airport ...|        NULL|          NYC|   NY|     10022|    USA|       NA|             Yu|            Kwai|   Small|
|      10121|             34|    81.35|              5| 2765.9|  5/7/2003 0:00|Shipped|     2|       5|   2003|Motorcycles|  95|   S10_1678|  Reims Collectables|      26.47.1555|  59 rue de l'Abbaye|        NULL|        Reims| NULL|     51100| France|     EMEA|        Henriot|            Paul|   Small|
|      10134|             41|    94.74|              2|3884.34|  7/1/2003 0:00|Shipped|     3|       7|   2003|Motorcycles|  95|   S10_1678|     Lyon Souveniers|+33 1 46 62 7555|27 rue du Colonel...|        NULL|        Paris| NULL|     75508| France|     EMEA|       Da Cunha|          Daniel|  Medium|
|      10145|             45|    83.26|              6| 3746.7| 8/25/2003 0:00|Shipped|     3|       8|   2003|Motorcycles|  95|   S10_1678|   Toys4GrownUps.com|      6265557265|  78934 Hillside Dr.|        NULL|     Pasadena|   CA|     90003|    USA|       NA|          Young|           Julie|  Medium|
|      10159|             49|    100.0|             14|5205.27|10/10/2003 0:00|Shipped|     4|      10|   2003|Motorcycles|  95|   S10_1678|Corporate Gift Id...|      6505551386|     7734 Strong St.|        NULL|San Francisco|   CA|      NULL|    USA|       NA|          Brown|           Julie|  Medium|
|      10168|             36|    96.66|              1|3479.76|10/28/2003 0:00|Shipped|     4|      10|   2003|Motorcycles|  95|   S10_1678|Technics Stores Inc.|      6505556809|   9408 Furth Circle|        NULL|   Burlingame|   CA|     94217|    USA|       NA|         Hirano|            Juri|  Medium|
|      10180|             29|    86.13|              9|2497.77|11/11/2003 0:00|Shipped|     4|      11|   2003|Motorcycles|  95|   S10_1678|Daedalus Designs ...|      20.16.1555|184, chausse de T...|        NULL|        Lille| NULL|     59000| France|     EMEA|          Rance|         Martine|   Small|
|      10188|             48|    100.0|              1|5512.32|11/18/2003 0:00|Shipped|     4|      11|   2003|Motorcycles|  95|   S10_1678|        Herkku Gifts|   +47 2267 3215|Drammen 121, PR 7...|        NULL|       Bergen| NULL|    N 5804| Norway|     EMEA|         Oeztan|          Veysel|  Medium|
|      10201|             22|    98.57|              2|2168.54| 12/1/2003 0:00|Shipped|     4|      12|   2003|Motorcycles|  95|   S10_1678|     Mini Wheels Co.|      6505555787|5557 North Pendal...|        NULL|San Francisco|   CA|      NULL|    USA|       NA|         Murphy|           Julie|   Small|
|      10211|             41|    100.0|             14|4708.44| 1/15/2004 0:00|Shipped|     1|       1|   2004|Motorcycles|  95|   S10_1678|    Auto Canal Petit|  (1) 47.55.6555|   25, rue Lauriston|        NULL|        Paris| NULL|     75016| France|     EMEA|        Perrier|       Dominique|  Medium|
+-----------+---------------+---------+---------------+-------+---------------+-------+------+--------+-------+-----------+----+-----------+--------------------+----------------+--------------------+------------+-------------+-----+----------+-------+---------+---------------+----------------+--------+
only showing top 10 rows

+----------------+------------------+
|     PRODUCTLINE|  TotalSalesAmount|
+----------------+------------------+
|     Motorcycles|1166388.3400000003|
|    Vintage Cars|1903150.8399999992|
|           Ships|         714437.13|
|Trucks and Buses|1127789.8399999996|
|    Classic Cars| 3919615.659999997|
|          Trains|226243.46999999997|
|          Planes| 975003.5700000001|
+----------------+------------------+